__pycache__/
.idea/
.vscode/
.pytest_*/
*.py[cod]
venv/
.venv/
.env
secret.py
example.py
logs.json
errors.log
info.log*
modo.log
ocr.log
errors_ocr.log
info_ocr.log
ocr_debug.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
cov.xml
*.cover
.hypothesis/
.pytest_cache/
/ocr_test.py
google.json

